.sel {
    width: 400px;
    padding: 6px;
    text-align: center;
    height: 50px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    font-size: 20px;
}
p {
    background-color: #eee;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    font-family: monospace;
}